.editor-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #9aa8c7;
}

.editor-empty h3 {
  font-size: 20px;
  margin-bottom: 6px;
}

.editor-empty p {
  font-size: 14px;
  opacity: 0.8;
}
